:root {
  --primary-grey: #444;
  --secondary-purple: #654664;
  --secondary-purple-hover: #724f71;


  font-family: 'Andika', Inter, system-ui, Avenir, sans-serif;
  line-height: 1.5;
  font-weight: 400;

  background-color: #fffafe;

  font-synthesis: none;
  text-rendering: optimizeLegibility;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  -webkit-text-size-adjust: 100%;
}

html {
  scroll-behavior: smooth;
}

* {
  box-sizing: border-box;
}

body {
  padding: 0;
  margin: 0 auto;
}

a,
a:link,
a:visited {
  text-decoration: none;
}